/* ThinIce for GTK3 */
@define-color white     #ffffff;
@define-color black     #000000;
@define-color dimgray   #747474;
@define-color inset     #c1c1cc;
@define-color outset    #d3d3dd;
@define-color canvas    #e5e5f7;
@define-color selection #336699;

@define-color tooltip   #eee1b3;

@define-color info_fg_color rgb (181, 171, 156);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);

@define-color success_bg_color #4e9a06;

* {
	engine: thickice;

	-GtkRange-slider-width: 11px;
	-GtkRange-stepper-size: 11px;
	-GtkComboBox-arrow-size: 6px;
	-GtkCellRendererToggle-indicator-size: 9px; /* does not seem to work; oh well... */
	-GtkCheckMenuItem-indicator-size: 9px;
	-GtkCheckButton-indicator-size: 9px;
	-GtkWidget-focus-padding: 0;
	-GtkWidget-focus-line-width: 1;
	outline: 1px none black;
}

.window-frame.csd {
	/* This is the only way to have any sort of border around client-side decorated windows.
	** I kid you not.
	*/
	box-shadow: 0px 0px 2px 2px black;
	/* And this is to have working resize handles. I didn't get this from GTK source code,
	** I've found it in the Adwaita style sheet. I still have no idea how it works.
	*/
	margin: 5px;
}

.window-frame.csd.popup, .window-frame.csd.tooltip {
	/* Don't show the "border" around popup menus and such */
	box-shadow: none;
}

GtkPaned {
	-thickice-handle-dots: 5;
	/* Workaround. I need a background color for the dot-drawing routine in the engine.
	** I will probably need to replace all of that with background-image for the next release.
	** If I'm going to make another release, that is...
	*/
	background: @outset;
}

:focus {
	outline-style: dotted;
	outline-offset: -2px;
}

.radio, .check {         
	outline-offset: 0px;
}

.button {
	outline-offset: -3px;
}

.trough {
	outline-offset: 3px;
}

tab {
	outline-offset: 1px;
}

.view, .entry {
	outline-width: 0px;
	color: @black;
	background: @canvas;
}

.background, .popover, tab:active, .slider, .button, .check, .radio {
	color: @black;
	background: @outset;
}

.separator {
	color: @outset;
}

.tooltip {
	border: 1px solid black;
	color: @black;
	background: @tooltip;
}

tab {
	color: @black;
	background: @inset;
	padding: 4px;
}

tab:active {
	padding: 5px;
}

.header-bar {
	padding: 4px;
	/* Using border-bottom, because margin doesn't work. "CSS" my arse. */
	border-bottom: 2px solid @outset;
}

.header-bar, .entry:selected:focused, .view:selected:focused {
	color: @white;
	background: @selection;
}

.header-bar:backdrop, .entry:selected, .view:selected {
	color: @white;
	background: @dimgray;
}

:insensitive {
	color: @dimgray;
	text-shadow: 1px 1px @white;
}

.frame {
	border: 1px solid @dimgray;
}

.button, .check, .radio, .menuitem.check, .menuitem.radio,
.toolbar, .menubar, .menu, .popover, .slider, .notebook {
	border: 1px outset darker(@outset);
}

.notebook.header {
	border: none;
}

.slider {
	color: @outset;
	-thickice-chopoff: true;
	-thickice-mark-type: slash;
}

GtkSwitch.slider {
	padding: 1px;
	-thickice-chopoff: false;
	-thickice-mark-type: dot;
}

.menu {
	padding: 2px;
}

.menuitem {
	padding: 2px;
}

.menubar .menuitem {
	padding: 3px 6px;
}

.menubar {
	padding: 1px;
}

.toolbar {
	padding: 1px;
}

.button {
	padding: 4px;
}

.check:insensitive, .radio:insensitive,
.check:checked:insensitive, .radio:checked:insensitive,
.check:hover:insensitive, .radio:hover:insensitive {
	border-style: solid;
}

.button.flat {
	border-style: none;
}

.button:hover, .toolbar .button:hover, .slider:hover,
GtkCheckButton.check:hover, GtkRadioButton.radio:hover, GtkExpander:hover {
	border-style: outset;
	background: @canvas;
}

.menuitem.check:hover, .menuitem.radio:hover,
.check:selected:focused, .radio:selected:focused {
	border-color: darker(@selection);
}

.button:checked,
.check:checked, .radio:checked,
GtkCheckButton.check:checked, GtkRadioButton.radio:checked,
.check:checked:selected, .radio:checked:selected,
.check:checked:selected:focused, .radio:checked:selected:focused,
.menuitem.check:checked, .menuitem.radio:checked {
	border-style: inset;
	background: @inset;
}

.button:hover:checked {
	border-style: inset;
}

.button:active, .button.flat:active, .check:active, .radio:active {
	background: @inset;
}

.button:active, .button.flat:active {
	border-style: inset;
}

.entry {
	padding: 3px;
}

.view:insensitive, .entry:insensitive {
	color: @dimgray;
	background: @canvas;
}

/* Workaround: GTK3 does not support :not(). "CSS" my arse.
** And why the fuck does GtkPrintUnixDialog's vbox have the ".view" class anyway?
**/
.view.dialog-vbox {
	background: none;
}

.entry, .trough {
	border: 1px inset darker(@inset);
}

.trough, .trough:selected, .trough:selected:focused, .cell.trough:selected:focused {
	color: @black;
	background: @inset;
}

.cell.trough {
	padding: 2px;
}

.trough.horizontal.left {
	border-right: none;
}

.trough.horizontal.right {
	border-left: none;
}

.trough.vertical.bottom {
	border-top: none;
}

.trough.vertical.top {
	border-bottom: none;
}

.separator {
	color: @outset;
}

GtkProgressBar {
	padding: 2px;
}

.entry:selected:focused, .view:selected:focused, .progressbar, .progressbar:selected {
	color: @white;
	background: @selection;
}

.menuitem {
	border: none;
}

.menuitem:hover {
	color: @white;
	background: @selection;
}

.rubberband {
	background-color: alpha (@selection, 0.25);
	border: 1px solid @selection;
}

GtkInfoBar {
	border: 1px outset darker(@outset);
}

GtkInfoBar.info {
	color: @black;
	background: @info_bg_color;
}

GtkInfoBar.warning {
	color: @black;
	background: @warning_bg_color;
}

GtkInfoBar.question {
	color: @black;
	background: @question_bg_color;
}

GtkInfoBar.error {
	color: @black;
	background: @error_bg_color;
}

GtkCalendar {
	border: 1px inset darker(@outset);
}

GtkCalendar.header {
	color: @white;
	background: @selection;
}

:link {
	color: blue;
}

.app-notification {
	padding: 4px;
	color: @black;
	background: @info_bg_color;
}

/* I don't know why, but without this padding the bottom part of the button is not displayed in 3.14.9 */
GtkButtonBox > .button {
	padding: 5px;
}

@keyframes spin { to { -gtk-icon-transform: rotate(1turn); } }

.spinner {
	/* Ripped from Adwaita. This may be the only icon guaranteed to fit this purpose. */
	-gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}

.spinner:active {
	animation: spin 2s linear infinite;
}
